<link rel="stylesheet" type="text/css" href="css/content.css">
<main id = "main">
<p>
    <div class="content_page">
        <div class="title">
            <div class="picture" style="background: url(img/background2.jpg);
            background-size: 100% 100%;
            height: 300px;
            text-align: center;"></div>
            <div class="container">
                <h1>Css</h1>
            </div>
        </div>
        <div class="main">
            <div class="mainBox">
                <div class="container">
                    <div class="left_column">
                        <img src="img/intro.svg" width="128" height="96" alt="introduction icon"/>
                    </div>
                    <div class="right_column">
                        <h2>Introdunction</h2>
                    </div>
                </div>
                <div class="sentenses">
                    <p align="left">CSS is the language we use to style a Web page. It's name stands for Cascading Style Sheets. It describes how HTML elements are to be displayed on screen, paper, or in other media. Futhermore, it can control the layout of multiple web pages all at once
                        External stylesheets are stored in CSS file.</p>
                    </br>
                </div>
                <div class="container">
                    <div class="left_column">
                        <img src="img/learning.svg" width="128" height="96" alt="learning icon"/>
                    </div>
                    <div class="right_column">
                        <h2>Learning</h2>
                    </div>
                </div>
                <div class="sentenses">
                    <h3>WHY CSS?</h3>
                    </br>
                    <h4>1. CSS saves time</h4>
                    <p align="left">HTTP takes a method to assign IP address with some names, which can be recognized easily in the World Wide Web. Compared to the standard procedure of IP address with a series of numbers, this method called advanced scheme of addressing can easily engage with the internet.</p></br>
                    <h4>2. Easy Maintainence</h4>
                    <p align="left">HTTP has the capability to download extensions or plugins and display the relevant data, such as Flash players and Acrobat reader.</p></br>
                    <h4>3. Search Engines</h4>
                    <p align="left">Each file downloaded via HTTP will be connected independently and as the file downloaded completely, the link will be disconnected at the same time. Therefore, the probability of being intercepted during transmission is greatly reduced. </p></br>
                    <h4>4. Superior styles to HTML</h4>
                    <p align="left">All the pages will be stored in the internet caches, which means that once the page is visited, the next time visiting will be quickly shown without loading the whole page twice.</p></br>
                    <h4>5. Offline Browsing</h4>
                    <p align="left"> CSS can store web applications locally with the help of offline catche.Using of this we can view offline websites.</p></br></br>
                </div>
                <div class="sentenses">
                    <h3>Get to start with  JavaScript tutorial!</h3></br>
                    <p align="left">This website provides plenty of tutorials in different approach to be familiar with JavaScript language.</p>
                    <a href="https://www.codecademy.com/courses/learn-css/"> https://www.codecademy.com/courses/learn-css/</a>
                    </br>
                </div>
                <div class="container">
                    <div class="left_column">
                        <img src="img/reference.svg" width="128" height="96" alt="reference icon"/>
                    </div>
                    <div class="right_column">
                        <h2>Reference</h2>
                    </div>
                </div>
                <div class="sentenses">
                    <a href="https://www.codecademy.com/courses/learn-css/">https://www.codecademy.com/courses/learn-css/</a></br>
                    <a href="https://www.geeksforgeeks.org/css-introduction/">https://www.geeksforgeeks.org/css-introduction/</a></br>
                    <a href="https://www.w3schools.com/css/css_intro.asp">https://www.w3schools.com/css/css_intro.asp</a></br>
                </div>
            </div>
        </div>
    </div>
    <center>
        <div class="message-content">
            <form id="sendmessage" action="" method="post">  
                <div class="field">
                    <h2>Comment:</h2> <input type="text" name = "comment" style="width:500px;height:30px;font-size:14pt;margin-bottom:10px;">
                    <button type="submit" style="width:300px;height:30px;font-size:14pt;">Send!</button>
                </div> 
            </form>
    
            <p>${comment}</p>
                
        </div>
        </center>
</p>
</main>