<link rel="stylesheet" type="text/css" href="css/content.css">
<main id = "main">
<p>
    <div class="content_page">
        <div class="title">
            <div class="picture" style="background: url(img/background2.jpg);
            background-size: 100% 100%;
            height: 300px;
            text-align: center;"></div>
            <div class="container">
                <h1>Java</h1>
            </div>
        </div>
        <div class="main">
            <div class="mainBox">
                <div class="container">
                    <div class="left_column">
                        <img src="img/intro.svg" width="128" height="96" alt="introduction icon"/>
                    </div>
                    <div class="right_column">
                        <h2>Introdunction</h2>
                    </div>
                </div>
                <div class="sentenses">
                    <p align="left">Java has strong support for web development. While Java on the desktop, with the notable exception of Eclipse RCP based application was never a huge success, Java is frequently used at the server side. Most of the modern Java web frameworks are based on servlets. Popular Java web frameworks are GWT, JavaServer Faces, Struts and the Spring framework. These web frameworks usually require as a minimum container a web container.</p>
                    </br>
                </div>
                <div class="container">
                    <div class="left_column">
                        <img src="img/learning.svg" width="128" height="96" alt="learning icon"/>
                    </div>
                    <div class="right_column">
                        <h2>Learning</h2>
                    </div>
                </div>
                <div class="sentenses">
                    <h3>Why we choose Java?</h3>
                    </br>
                    <p align="left">One of the main advantages of Java in software and application development is “that it is a cross-platform tool. Thanks to the JVM (Java Virtual Machine), Java’s run-time environment is able to translate code into machine code compatible with the native operating system, whether that’s Windows, iOS or Linux. This versatility, and specifically the cross-platform functionality, immediately makes it a powerful tool for larger organizations doing software development work”, as described by Inside Technology.</p>
                    </br>
                </div>
                <div class="sentenses">
                    <h3>Get to start with python web tutorial!</h3></br>
                    <p align="left">You can get started to learn java web technique in this website.</p>
                    <a href="https://www.journaldev.com/1854/java-web-application-tutorial-for-beginners">https://www.journaldev.com/1854/java-web-application-tutorial-for-beginners</a>
                    <p align="left">The codes and tips are provided. Follow the steps hand by hand to explore the knowledge from JAVA web development.</p></br>
                </div>
                <div class="container">
                    <div class="left_column">
                        <img src="img/reference.svg" width="128" height="96" alt="reference icon"/>
                    </div>
                    <div class="right_column">
                        <h2>Reference</h2>
                    </div>
                </div>
                <div class="sentenses">
                    <a href="https://www.vogella.com/tutorials/JavaWebTerminology/">https://www.vogella.com/tutorials/JavaWebTerminology/</a></br>
                    <a href="https://www.neovera.com/advantages-java-web-application-development/">https://www.neovera.com/advantages-java-web-application-development/</a></br>
                    <a href="https://www.journaldev.com/1854/java-web-application-tutorial-for-beginners">https://www.codecademy.com/</a></br>
                </div>
            </div>
        </div>
    </div>
    <center>
        <div class="message-content">
            <form id="sendmessage" action="" method="post">  
                <div class="field">
                    <h2>Comment:</h2> <input type="text" name = "comment" style="width:500px;height:30px;font-size:14pt;margin-bottom:10px;">
                    <button type="submit" style="width:300px;height:30px;font-size:14pt;">Send!</button>
                </div> 
            </form>
    
            <p>${comment}</p>
                
        </div>
        </center>
</p>
</main>