<link rel="stylesheet" type="text/css" href="css/content.css">
<main id = "main">
<p>
    <div class="content_page">
        <div class="title">
            <div class="picture" style="background: url(img/background2.jpg);
            background-size: 100% 100%;
            height: 300px;
            text-align: center;"></div>
            <div class="container">
                <h1>OSI Layers</h1>
            </div>
        </div>
        <div class="main">
            <div class="mainBox">
                <div class="container">
                    <div class="left_column">
                        <img src="img/intro.svg" width="128" height="96" alt="introduction icon"/>
                    </div>
                    <div class="right_column">
                        <h2>Introdunction</h2>
                    </div>
                </div>
                <div class="sentenses">
                    <p align="left">The Open Systems Interconnection model (OSI model) is a conceptual model that characterises and standardizes the communication functions of a telecommunication or computing system without regard to its underlying internal structure and technology. Its goal is the interoperability of diverse communication systems with standard communication protocols.</p>
                    </br>
                    <p align="left">The model partitions the flow of data in a communication system into seven abstraction layers, from the physical implementation of transmitting bits across a communications medium to the highest-level representation of data of a distributed application. Each intermediate layer serves a class of functionality to the layer above it and is served by the layer below it. Classes of functionality are realized in software by standardized communication protocols.</p>
                    </br>
                </div>
                <div class="container">
                    <div class="left_column">
                        <img src="img/learning.svg" width="128" height="96" alt="learning icon"/>
                    </div>
                    <div class="right_column">
                        <h2>Learning</h2>
                    </div>
                </div>
                <div class="sentenses">
                    <h3>Why we use OSI layers?</h3>
                    </br>
                    <h4>1. Provide a wide variety of choice</h4>
                    <p align="left">Customers have a wide variety of choice since software/ hardware from different manufactures work together in harmony. In addition, the OSI model can fit to any compatible software/hardware from different users in other parts of the world.</p></br>
                    <h4>2. It does not rely on a specific operating system</h4>
                    <p align="left">OSI is convenient since errors are dealt with at each level, as different levels operate automatically independent of each other. This makes it easier to troubleshoot problems that may arise at each stage, by separating the networks into small manageable pieces.</p></br>
                    <h4>3. The user can understand the common terms used in networking</h4>
                    <p align="left">OSI model also help the user to understand different networking terms and functional relationship applied on multiple networks. In addition, the user also understand how new technologies are developed in the existing networks.</p></br>
                    <h4>4. Interprets product functionality at each stage</h4>
                    <p align="left">The OSI model simply uses different stages of functionality. For instance, each stage has specific functions to ensure all networks operate without technical hitches. Also, each layer has it own interface specifications and a well-defined connector.</p></br>
                    <h4>5. Encrypt data for security purposes</h4>
                    <p align="left">Decryption and encryption services are also available for security purposes. Expansion and compression of messages is simplified to ensure it travels from one system to another efficiently.</p></br>
                    <h4>6. It is easier to add multiple network models</h4>
                    <p align="left">The OSI model is designed in such a way that user further extend new protocols within the process. This means you can use additional layered architecture other than the existing one.
                        Due to its complexity, poor performance can be obtained in day to day applications, thereby it requires great technical know-how.</p></br>
                </div>
                <div class="sentenses">
                    <h3>History</h3></br>
                    <p align="left">OSI is an effort of the industry, trying to make industry participants reach a consensus on a common network standard to provide multi-vendor interoperability.  Large networks usually support multiple network protocol suites, and many devices cannot interoperate with other devices due to the lack of common protocols. In the late 1980s and early 1990s, engineers, organizations, and countries became polarized as to which standard (OSI model or Internet protocol suite) to use would produce the best and most powerful computer network.  However, although OSI developed its network standards in the late 1980s,  TCP/IP is widely used in multi-vendor networks for internetwork.</p>
                </div>
                <div class="container">
                    <div class="left_column">
                        <img src="img/reference.svg" width="128" height="96" alt="reference icon"/>
                    </div>
                    <div class="right_column">
                        <h2>Reference</h2>
                    </div>
                </div>
                <div class="sentenses">
                    <a href="https://en.wikipedia.org/wiki/OSI_model">https://en.wikipedia.org/wiki/OSI_model</a></br>
                    <a href="https://benefitof.net/benefits-of-osi-model">https://benefitof.net/benefits-of-osi-model</a></br>
                    <a href="https://zhuanlan.zhihu.com/p/70370849?from_voters_page=true">https://zhuanlan.zhihu.com/p/70370849?from_voters_page=true</a></br>
                </div>
            </div>
        </div>
    </div>
    <center>
        <div class="message-content">
            <form id="sendmessage" action="" method="post">  
                <div class="field">
                    <h2>Comment:</h2> <input type="text" name = "comment" style="width:500px;height:30px;font-size:14pt;margin-bottom:10px;">
                    <button type="submit" style="width:300px;height:30px;font-size:14pt;">Send!</button>
                </div> 
            </form>
    
            <p>${comment}</p>
                
        </div>
        </center>
</p>
</main>