<link rel="stylesheet" type="text/css" href="css/content.css">
<main id = "main">
<p>
    <div class="content_page">
        <div class="title">
            <div class="picture" style="background: url(img/background2.jpg);
            background-size: 100% 100%;
            height: 300px;
            text-align: center;"></div>
            <div class="container">
                <h1>Python</h1>
            </div>
        </div>
        <div class="main">
            <div class="mainBox">
                <div class="container">
                    <div class="left_column">
                        <img src="img/intro.svg" width="128" height="96" alt="introduction icon"/>
                    </div>
                    <div class="right_column">
                        <h2>Introdunction</h2>
                    </div>
                </div>
                <div class="sentenses">
                    <p align="left">Web development became popular due to the widespread accessibility of the web, especially for commerce. Once businesses quickly realized they could offer their products and services on the web, this created a demand for web development that has never slowed down. Web development in Python picked up to bring the data wrangling and processing power of Python to the web. Some popular sites built on Python include Disqus, Instagram, and Mozilla, among others.</p>
                    </br>
                </div>
                <div class="container">
                    <div class="left_column">
                        <img src="img/learning.svg" width="128" height="96" alt="learning icon"/>
                    </div>
                    <div class="right_column">
                        <h2>Learning</h2>
                    </div>
                </div>
                <div class="sentenses">
                    <h3>Why we choose python?</h3>
                    </br>
                    <h4>1. Easy to learn</h4>
                    <p align="left">Python is the most popular language for first-time learners for a reason. The language relies on common expressions and whitespace, which allows you to write significantly less code compared to some other languages like Java or C++.</p></br>
                    <h4>2. Rich ecosystem and libraries</h4>
                    <p align="left">Python offers a vast range of library tools and packages, which allows you to access much pre-written code, streamlining your application development time.</p></br>
                    <h4>3. Fast prototyping</h4>
                    <p align="left">Because Python takes significantly less time to build your projects compared to other programming languages, your ideas come to life a lot faster, allowing you to gain feedback and iterate quickly.</p></br>
                    <h4>4. Wide-spread popularity</h4>
                    <p align="left">Python is one of the most popular languages in the world, with communities from all over the world. Because of how popular the language is, Python is continuously updated with new features and libraries, while also providing excellent documentation and community support.</p></br>
                </div>
                <div class="sentenses">
                    <h3>Get to start with python web tutorial!</h3></br>
                    <p align="left">This website provides plenty of tutorials in different approach to be familiar with python web development.</p>
                    <a href="https://www.codecademy.com/learn/paths/build-python-web-apps-flask">https://www.codecademy.com/learn/paths/build-python-web-apps-flask</a>
                    <p align="left">You will know the basic structure and technique about building the python web framework. The source codes and tester are included in the tutorial that you can practice.</p></br>
                </div>
                <div class="container">
                    <div class="left_column">
                        <img src="img/reference.svg" width="128" height="96" alt="reference icon"/>
                    </div>
                    <div class="right_column">
                        <h2>Reference</h2>
                    </div>
                </div>
                <div class="sentenses">
                    <a href="https://www.pluralsight.com/guides/introduction-to-web-development-in-python-and-django">https://www.pluralsight.com/guides/introduction-to-web-development-in-python-and-django</a></br>
                    <a href="https://www.educative.io/blog/web-development-in-python">https://www.educative.io/blog/web-development-in-python</a></br>
                    <a href="https://www.codecademy.com/">https://www.codecademy.com/</a></br>
                    <a href="https://www.journaldev.com/">https://www.journaldev.com/</a></br>
                </div>
            </div>
        </div>
    </div>
    <center>
        <div class="message-content">
            <form id="sendmessage" action="" method="post">  
                <div class="field">
                    <h2>Comment:</h2> <input type="text" name = "comment" style="width:500px;height:30px;font-size:14pt;margin-bottom:10px;">
                    <button type="submit" style="width:300px;height:30px;font-size:14pt;">Send!</button>
                </div> 
            </form>
    
            <p>${comment}</p>
                
        </div>
        </center>
</p>
</main>