<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/temp.css">
  <script src="js/script_head.js"></script>
  <link rel="shortcut icon" href="img/logo.svg">
  <title>iLearning</title>
</head>

<body>
  <a class="skip-to-content-link" href="#main">
    Skip to content
  </a>
<p>
  <header class = "page-header">
    <a href="/home">
      <img class = "logo" src = "img/logo.svg" alt = "logo" >
     </a>
    
    <nav>
      <ul class = "nav_links">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

    <a class = "login_header" id="login_head" href = "/login"><button id = "bto">Login</button></a>
    

  </header>
</p>

