<center>
<div class = "study-resources">

<main id = "main">
    <div class = "quicklink"><h2> Quick Link</h2> <p><a href="#ois">OSI Layers</a></p> <p><a href="#tcpip">TCP and IP</a></p>  <p><a href="#http">Http</a></p> <p><a href="#js">Javascript</a></p> <p><a href="#css">Css</a></p> <p><a href="#bottle">Bottle</a></p> <p><a href="#flask">Flask</a></p> <p><a href="#java">Java</a></p> <p><a href="#python">Python</a></p></div>
    <article>
        <div id = "content-homepage">
            <div class = "content-categories">
                <h1>How the Web Works</h1>

                <a href="/OSI_layers"><h3 id = "ois">Osi Model Layers</h3></a>
                    <p>The OSI Model (Open Systems Interconnection Model) is a conceptual framework used to describe the functions of a networking system.
                    The OSI model characterizes computing functions into a universal set of rules and requirements in order to support interoperability between different products and software.</p>
                    <a href ="/OSI_layers"><button>Read More</button></a>

                <a href="/TCP_IP"><h3 id = "tcpip">TCP and IP</h3></a>
                    <p>The Internet protocol suite is the conceptual model and set of communications protocols used in the Internet and similar computer networks.
                    It is commonly known as TCP/IP because the foundational protocols in the suite are the Transmission Control Protocol (TCP) and the Internet Protocol (IP).
                    During its development, versions of it were known as the Department of Defense (DoD) model because the development of the networking method was funded by the United States Department of Defense through DARPA. 
                    Its implementation is a protocol stack.</p>
                    <a href ="/TCP_IP"><button>Read More</button></a>
                
            </div>
            
            <div class = "content-categories">
            <h1>Front-end Languages</h1>

                <a href="/http"><h3 id = "http">Http</h3></a>
                    <p>Hypertext Transfer Protocol (HTTP) is an application-layer protocol for transmitting hypermedia documents, such as HTML.
                    It was designed for communication between web browsers and web servers, but it can also be used for other purposes.</p>
                    <a href ="/http"><button>Read More</button></a>

                <a href="/javascript"><h3 id = "js">Javascript</h3></a>
                    <p>JavaScript, often abbreviated as JS, is a programming language that conforms to the ECMAScript specification.
                    JavaScript is high-level, often just-in-time compiled, and multi-paradigm.
                    It has curly-bracket syntax, dynamic typing, prototype-based object-orientation, and first-class functions.</p>
                    <a href ="/javascript"><button>Read More</button></a>

                <a href="/css"><h3 id = "css">Css</h3></a>
                    <p>Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in a markup language such as HTML.
                    CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.</p>
                    <a href ="/css"><button>Read More</button></a>
            </div>

            <div class = "content-categories">
            <h1>Web Application Framework</h1>

                <a href="/bottle"><h3 id = "bottle">Bottle</h3></a>
                    <p>Bottle is a WSGI micro web-framework for the Python programming language. 
                    It is designed to be fast, simple and lightweight, and is distributed as a single file module with no dependencies other than the Python Standard Library.</p>
                    <a href ="/bottle"><button>Read More</button></a>

                <a href="/flask"><h3 id = "flask">Flask</h3></a>
                    <p>Flask is a micro web framework written in Python.
                    It is classified as a microframework because it does not require particular tools or libraries.
                    It has no database abstraction layer, form validation, or any other components where pre-existing third-party libraries provide common functions.</p>
                    <a href ="/flask"><button>Read More</button></a>

            </div>

            <div class = "content-categories">
            <h1>Web Related Languages</h1>

                <a href="/java"><h3 id = "java">Java</h3></a>
                    <p>Java is a class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible.</p>
                    <a href ="/java"><button>Read More</button></a>

                <a href="/python"><h3 id = "python"> Python</h3></a>
                    <p>Python is an interpreted, high-level and general-purpose programming language.
                    Python's design philosophy emphasizes code readability with its notable use of significant indentation.</p>
                    <a href ="/python"><button>Read More</button></a>
                    
            </div>
        </div>
    </article>
</main>

</div>

</center>