
      
      
      <footer>
        <script src="js/script_tail.js"></script>
        <div class="footer-content">
          <h3>iLearning Teaching</h3>
          <p>The Best Website for Web Knowledage, Welcome to iLearning Web, This is Info2222 Group 2</p>
           <ul class="socials">
            <li><a href="img/wechat_link.jpg"><img src = "img/wechat.svg" alt = "wechat_logo" ></a></li>
           </ul>
        </div>
        <div class="footer-bottom">
          <p>copyright &copy;2021 INFO2222. Designed by <span>Group2</span></p>
        </div>
      </footer>
  </body>
</html>